body {
    width: 100vmax;
    height: 100vh;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    font-family: Arial, sans-serif;
}

#top {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    min-width: 181px;
    height: auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 16px;
    margin-right: 10px;
}

#top a {
    display: inline-block;
    text-decoration: none;
    color: black;
    margin-left: 1rem;
    font-size: 13px;
    line-height: 24px;
    outline: none;
}

#top a:focus, #top a:hover {
    text-decoration: underline;
}

#logo {
    display: flex;
    margin-top: 7.2rem;
    width: 100%;
    height: auto;
    justify-content: center;
}

#footer {
    display: grid;
    position: absolute;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 6.5fr 6.5fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    bottom: 1px;
    color: rgba(0,0,0,.54);
    background-color: #f2f2f2;
    align-items: center;
    font-size: 15px;
}

#first {
    grid-area: 1/1/2/8;
    padding-left: 27px;  
    padding-bottom: 10px;
    padding-top: 10px; 
    border-top: rgb(224, 222, 222) solid 0.8px;
    border-bottom: rgb(224, 222, 222) solid 0.8px; 
}

.left {
    justify-self: start;
    padding-left: 27px; 
    padding-bottom: 11px;
    padding-top: 11px;
}

.right {
    justify-self: end;
    padding-bottom: 11px;
    padding-top: 11px;
    padding-right: 27px;
}

form {
    display: flex;
    flex-direction: column;
}

#search-bar {
    margin-top: 26px;
    width: 32%;
    height: 40px;
    align-self: center;
    border-radius: 40px;
    border: gainsboro solid 1px;
    text-indent: 33px;
    background-image: url("../images/icon.png");
    background-size: 25px;  
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: center;
    outline: none;
}

#search-bar:hover{
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border-color: rgba(223,225,229,0);
}

#buttons {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-content: center;
}

button {    
    background-image: -webkit-linear-gradient(top,#f8f9fa,#f8f9fa);
    background-color: #0c3359;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

button:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-image: -webkit-linear-gradient(top,#f8f9fa,#f8f9fa);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}
 

#nameTag {
    border-radius: 50%;
    max-width: 31px;
    height: auto;
    cursor: pointer;
    margin-right: -15px;
}

#smallGrid {
    max-width: 17px;
    height: 17px;
    cursor: pointer;
    background-position: -132px -38px;
    opacity: .55;
    margin-top: 7px;
    margin-right: 18px;
}

#smallGrid:hover {
    opacity: .85;
}

#gmail {
    margin-right: 5px;
    margin-top: 2px;
}

#images {
    margin-right: 20px;
    margin-top: 2px;
}